In [1]:
import os
os.getcwd()

'C:\\Users\\jane.waweru\\projects\\Mine\\EDA\\data'

In [2]:
import os

desired_path = "C://Users//jane.waweru//projects//Mine/air_quality"

if os.getcwd() != desired_path:
    os.chdir(desired_path)
else:
    pass

print(os.getcwd())

C:\Users\jane.waweru\projects\Mine\air_quality

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv("air_quality_kumasi.csv", sep=";")

In [9]:
df.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value
0,4841,pms5003,3620,6.679,-1.574,2023-10-23T14:32:09.677658+00:00,P2,13.67
1,4841,pms5003,3620,6.679,-1.574,2023-10-23T14:32:09.677658+00:00,P1,13.67
2,4841,pms5003,3620,6.679,-1.574,2023-10-23T14:32:09.677658+00:00,P0,11.00
3,4842,DHT22,3620,6.679,-1.574,2023-10-23T14:32:22.136685+00:00,humidity,64.30
4,4842,DHT22,3620,6.679,-1.574,2023-10-23T14:32:22.136685+00:00,temperature,31.30

In [10]:
df.shape

(20411, 8)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20411 entries, 0 to 20410
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sensor_id    20411 non-null  int64
 1   sensor_type  20411 non-null  object
 2   location     20411 non-null  int64
 3   lat          20411 non-null  float64
 4   lon          20411 non-null  float64
 5   timestamp    20411 non-null  object
 6   value_type   20411 non-null  object
 7   value        20411 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 1.2+ MB

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
sensor_id,20411.0,4841.384009,4.863719e-01,4841.000,4841.000,4841.000,4842.000,4842.000
location,20411.0,3620.000000,0.000000e+00,3620.000,3620.000,3620.000,3620.000,3620.000
lat,20411.0,6.679000,1.099592e-12,6.679,6.679,6.679,6.679,6.679
lon,20411.0,-1.574000,3.470642e-13,-1.574,-1.574,-1.574,-1.574,-1.574
value,20411.0,36.256552,2.371419e+01,3.000,19.670,28.000,48.500,267.000

In [14]:
df['sensor_id'].value_counts().sum()

20411

In [15]:
df['sensor_id'].unique()

array([4841, 4842], dtype=int64)

In [16]:
df['sensor_type'].unique()

array(['pms5003', 'DHT22'], dtype=object)