# Python Pandas Functions for Effortless Data Exploration

In [ ]:
pip install faker

Python interpreter will be restarted.
Requirement already satisfied: faker in /local_disk0/.ephemeral_nfs/envs/pythonEnv-16eb0dc8-37d8-4d3e-a4f0-85627df0243f/lib/python3.9/site-packages (33.3.0)
Requirement already satisfied: python-dateutil>=2.4 in /databricks/python3/lib/python3.9/site-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /databricks/python3/lib/python3.9/site-packages (from faker) (4.1.1)
Requirement already satisfied: six>=1.5 in /databricks/python3/lib/python3.9/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Python interpreter will be restarted.

In [0]:
import random
import csv
from faker import Faker

# Initialize Faker
fake = Faker()

In [0]:
# List of products and their categories
products = [
    {"name": "Laptop", "category": "Electronics", "price": 899.99},
    {"name": "Smartphone", "category": "Electronics", "price": 699.99},
    {"name": "Headphones", "category": "Accessories", "price": 49.99},
    {"name": "Coffee Maker", "category": "Home Appliances", "price": 79.99},
    {"name": "Sneakers", "category": "Fashion", "price": 59.99},
    {"name": "Backpack", "category": "Fashion", "price": 39.99},
    {"name": "Blender", "category": "Home Appliances", "price": 99.99},
    {"name": "Desk Chair", "category": "Furniture", "price": 129.99},
    {"name": "Water Bottle", "category": "Accessories", "price": 19.99},
    {"name": "Notebook", "category": "Stationery", "price": 5.99},
]

In [0]:
# Define a function to generate order data
def generate_order_data(num_rows):
    data = []
    for _ in range(num_rows):
        product = random.choice(products)
        quantity = random.randint(1, 10)
        total = round(product["price"] * quantity, 2)
        order = {
            "Order ID": fake.uuid4(),
            "Customer Name": fake.name(),
            "Customer Email": fake.email(),
            "Product Name": product["name"],
            "Category": product["category"],
            "Quantity": quantity,
            "Price": product["price"],
            "Total": total,
            "Order Date": fake.date_this_year(),
            "Shipping Address": fake.address(),
        }
        data.append(order)
    return data

In [0]:
# Generate 1000 rows of data
num_rows = 1000
order_data = generate_order_data(num_rows)

In [0]:
# Save the data to a CSV file
output_file = "sample_orders.csv"
with open(output_file, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.DictWriter(file, fieldnames=order_data[0].keys())
    writer.writeheader()
    writer.writerows(order_data)

print(f"Sample dataset with {num_rows} rows has been saved to '{output_file}'.")

Sample dataset with 1000 rows has been saved to 'sample_orders.csv'.

# Head function head()

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Display the first 10 rows of the dataset
df.head(10)

,Order ID,Customer Name,Customer Email,Product Name,Category,Quantity,Price,Total,Order Date,Shipping Address
0,35369275-e6c9-4532-9b08-0f1adbac593c,Peter Hill,robertssarah@example.org,Coffee Maker,Home Appliances,1,79.99,79.99,2025-01-01,"26798 Mason Junction\nDaystad, UT 25772"
1,b1316fda-ceac-4372-934d-5ae01b11cb45,Mark Robinson,michael67@example.com,Headphones,Accessories,7,49.99,349.93,2025-01-04,"6660 Christine Neck\nMelissashire, WI 40341"
2,185b4d92-a535-4189-a2e0-eb4683de2f3e,Kimberly Baldwin,ejackson@example.net,Headphones,Accessories,4,49.99,199.96,2025-01-05,"77106 Melissa Ports Suite 063\nVictoriaview, S..."
3,596cfa33-51d6-4705-8898-9c4501736ba6,Robin Stevens,ljohnson@example.net,Coffee Maker,Home Appliances,8,79.99,639.92,2025-01-03,"1593 Julie Manor\nRichardfort, PA 31022"
4,e96a8303-24af-49b6-91e3-3215ba39f600,Anthony Reeves,rmaddox@example.com,Desk Chair,Furniture,6,129.99,779.94,2025-01-05,840 Harrington Mall Apt. 268\nEast Gregorystad...
5,cae2da73-7d88-4091-b7e8-f6b38fb1362e,Billy Snow,davilajesse@example.com,Laptop,Electronics,2,899.99,1799.98,2025-01-03,"063 Eric Drives\nEast Madeline, MD 13497"
6,5d681069-0a1b-47a2-adf0-02adf8ce96eb,Dawn Peterson,hobbsbrandon@example.net,Coffee Maker,Home Appliances,6,79.99,479.94,2025-01-02,Unit 2270 Box 0990\nDPO AP 10212
7,f7a0a2e9-3a08-4fbf-9003-18b5dc566e85,Christina Spencer,klee@example.com,Notebook,Stationery,10,5.99,59.90,2025-01-03,"126 Christopher Via Suite 208\nJuanton, OH 94599"
8,286c5ba9-c547-441c-86a9-144e67b2db58,Walter Jones,cwilliams@example.net,Notebook,Stationery,8,5.99,47.92,2025-01-05,"630 Tracy Plaza\nNew Andrewville, NV 98561"
9,8b7554ae-3962-48b8-ad9c-a240d45d4559,David Avery Jr.,wardkatherine@example.net,Smartphone,Electronics,3,699.99,2099.97,2025-01-04,Unit 0590 Box 3801\nDPO AA 44405

# Tail function tail()

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Display the last 10 rows of the dataset
df.tail(10)

,Order ID,Customer Name,Customer Email,Product Name,Category,Quantity,Price,Total,Order Date,Shipping Address
990,092de889-e876-430a-b957-3890cd01a514,Gary Griffin,scottjeffery@example.net,Smartphone,Electronics,10,699.99,6999.90,2025-01-01,USNS Braun\nFPO AP 92784
991,c033b2f0-9563-4fb8-8268-a66a141d873b,Michael Mason,adampotter@example.org,Laptop,Electronics,9,899.99,8099.91,2025-01-02,"PSC 8101, Box 2757\nAPO AE 04205"
992,1137cd6c-8f6f-4e5d-b0be-272b25e916ca,Sylvia Taylor,davidturner@example.org,Backpack,Fashion,7,39.99,279.93,2025-01-03,"102 Jennifer Haven Suite 464\nNew Rhondaton, N..."
993,0e8a153f-ab8f-4db0-bea4-b1d6967fb595,Alyssa Chambers,davidanderson@example.com,Smartphone,Electronics,6,699.99,4199.94,2025-01-03,USCGC Obrien\nFPO AA 52104
994,8644bcf0-b7d7-4ea0-aa6c-b44d64af4fab,Brenda Perez,morrisondiana@example.org,Sneakers,Fashion,4,59.99,239.96,2025-01-03,"1997 Grant Centers Apt. 518\nNelsonport, SD 99126"
995,969b09d4-c85c-4ec4-bedf-fbee7fb8b17b,Kenneth Weaver,cbrooks@example.org,Blender,Home Appliances,3,99.99,299.97,2025-01-03,"96780 Long Mountains Suite 291\nNew Erica, FM ..."
996,fbb82060-b677-4bbf-9152-4a7804d20b41,Stacie Cox,jacobdavis@example.org,Desk Chair,Furniture,3,129.99,389.97,2025-01-01,"315 Mike Stravenue\nLake Stephenport, NY 97869"
997,680471ec-291b-4eec-afdb-825c8ee70ffd,Jacqueline Contreras,josephmorgan@example.org,Notebook,Stationery,1,5.99,5.99,2025-01-02,"22823 Adams Rapids Suite 978\nSmithville, NJ 8..."
998,8b516fe1-06e3-416b-9661-e98198924770,Melissa Taylor,christopherbrown@example.org,Backpack,Fashion,9,39.99,359.91,2025-01-05,"63508 John Neck\nWest Tonya, MT 78658"
999,c220b742-6456-4d98-ad6d-5ac83be1a0f9,Sarah Murray,pam18@example.com,Backpack,Fashion,7,39.99,279.93,2025-01-02,"410 Rivera Burg\nLake Madisonshire, ME 94570"

# Sample function sample()

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Read and display the random 10 rows from the dataset
df.sample(10)

,Order ID,Customer Name,Customer Email,Product Name,Category,Quantity,Price,Total,Order Date,Shipping Address
239,c21502cb-e09c-4350-8f3b-ac89b4d55f9d,Heather Gonzales,imadden@example.net,Smartphone,Electronics,4,699.99,2799.96,2025-01-03,"8471 Gary Fort Apt. 078\nFisherfurt, AK 44397"
37,0585e055-67c8-4640-a605-533e1d72caf4,James Richardson PhD,zamorawendy@example.net,Coffee Maker,Home Appliances,4,79.99,319.96,2025-01-04,"92982 Stacy Mountain Apt. 706\nDawsonhaven, CA..."
165,b34f71c6-ef10-43fa-ab11-bcf60eeb63d5,Steven Butler,patrickrivera@example.org,Sneakers,Fashion,6,59.99,359.94,2025-01-02,"8553 David Route Apt. 226\nSouth Luke, ID 28920"
635,e5409f0c-eff1-42a5-a3af-d5dd0c44533b,Misty Madden,staceysmith@example.com,Sneakers,Fashion,7,59.99,419.93,2025-01-04,"807 Julia Mission\nNew Scottview, NY 99016"
745,28b31d28-e3ab-4611-a482-511723c47553,Kayla Casey,hunter30@example.net,Backpack,Fashion,3,39.99,119.97,2025-01-05,"91354 James Burg\nNew Angela, FM 07742"
658,fbd9e0fd-41ee-41d8-9aac-92ae4a6e45dc,James Craig,juan15@example.net,Sneakers,Fashion,3,59.99,179.97,2025-01-04,"639 George Mission\nPort Michaelstad, MP 79799"
22,b111eaae-e29d-4e2e-b2d3-ffa56eb553ff,Diana Moore,berryamber@example.org,Laptop,Electronics,2,899.99,1799.98,2025-01-01,"8970 Mark Squares Apt. 130\nSarahside, VT 24726"
494,b46792c4-13c7-4aed-9c5d-31d503c89d27,Susan Ramirez,kellyashley@example.com,Coffee Maker,Home Appliances,4,79.99,319.96,2025-01-03,"285 Mosley Fords\nEast Derek, WI 47917"
5,cae2da73-7d88-4091-b7e8-f6b38fb1362e,Billy Snow,davilajesse@example.com,Laptop,Electronics,2,899.99,1799.98,2025-01-03,"063 Eric Drives\nEast Madeline, MD 13497"
465,81f35ca3-a33b-4c5b-940c-1490593c5cab,Olivia Gonzalez,donaldrowe@example.org,Smartphone,Electronics,3,699.99,2099.97,2025-01-04,"628 Collins Forge\nWellsborough, HI 68832"

# info function info()

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Display a summary of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          1000 non-null   object
 1   Customer Name     1000 non-null   object
 2   Customer Email    1000 non-null   object
 3   Product Name      1000 non-null   object
 4   Category          1000 non-null   object
 5   Quantity          1000 non-null   int64
 6   Price             1000 non-null   float64
 7   Total             1000 non-null   float64
 8   Order Date        1000 non-null   object
 9   Shipping Address  1000 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 78.2+ KB

# describe function describe()

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Display the basic statistical information about the dataset
print(df.describe())

          Quantity        Price        Total
count  1000.000000  1000.000000  1000.000000
mean      5.444000   218.222000  1176.341560
std       2.830703   308.964213  1987.579578
min       1.000000     5.990000     5.990000
25%       3.000000    39.990000   129.990000
50%       5.000000    79.990000   359.910000
75%       8.000000   129.990000   799.920000
max      10.000000   899.990000  8999.900000

# value_counts()

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Display the count of all unique values in a column,such as "Category"
df["Category"].value_counts()

Out[14]: Electronics        213
Home Appliances    211
Accessories        186
Fashion            184
Stationery         112
Furniture           94
Name: Category, dtype: int64

# shape attribute

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Display the number of rows and columns in the dataset
print(df.shape)

(1000, 10)

# dataframe dtypes attribute

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Display the data types of all columns
print(df.dtypes)

Order ID             object
Customer Name        object
Customer Email       object
Product Name         object
Category             object
Quantity              int64
Price               float64
Total               float64
Order Date           object
Shipping Address     object
dtype: object

# unique funtion unique()
unique values in a column

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Display all unique values in a column.
print(df["Category"].unique())

['Home Appliances' 'Accessories' 'Furniture' 'Electronics' 'Stationery'
 'Fashion']

# nunique()
number of unique values in a dataframe

In [0]:
import pandas as pd

# Read the sample_orders.csv file into a Pandas DataFrame
df = pd.read_csv("sample_orders.csv")

# Display the count of unique values in the dataset, sorted in descending order
df.nunique().sort_values(ascending=False)

Out[18]: Order ID            1000
Shipping Address    1000
Customer Email       999
Customer Name        996
Total                100
Product Name          10
Quantity              10
Price                 10
Category               6
Order Date             5
dtype: int64

# Column names manipulation

In [0]:
df.columns = [x.lower() for x in df.columns]

In [0]:
df.head(2)

,order id,customer name,customer email,product name,category,quantity,price,total,order date,shipping address
0,35369275-e6c9-4532-9b08-0f1adbac593c,Peter Hill,robertssarah@example.org,Coffee Maker,Home Appliances,1,79.99,79.99,2025-01-01,"26798 Mason Junction\nDaystad, UT 25772"
1,b1316fda-ceac-4372-934d-5ae01b11cb45,Mark Robinson,michael67@example.com,Headphones,Accessories,7,49.99,349.93,2025-01-04,"6660 Christine Neck\nMelissashire, WI 40341"

In [0]:
df.columns = [x.replace(" ", "_") for x in df.columns]
df.head(2)

,order_id,customer_name,customer_email,product_name,category,quantity,price,total,order_date,shipping_address
0,35369275-e6c9-4532-9b08-0f1adbac593c,Peter Hill,robertssarah@example.org,Coffee Maker,Home Appliances,1,79.99,79.99,2025-01-01,"26798 Mason Junction\nDaystad, UT 25772"
1,b1316fda-ceac-4372-934d-5ae01b11cb45,Mark Robinson,michael67@example.com,Headphones,Accessories,7,49.99,349.93,2025-01-04,"6660 Christine Neck\nMelissashire, WI 40341"

In [0]:
len(df.columns)

Out[24]: 10